# Health Index Construction

## 1. Data Operations

I = 0.33 * Accessibility + 0.33 * Offer Quality + 0.33 * Population's Health Quality


- Accessibility: Number of health services (min-max scaling normalization)

- Offer Quality --> avg between: Centers' Status (min-max using count of distinct words in string), Centers' Type (min-max using count of distinct words in string), Centers' Characteristics (min-max using count of distinct words in string)

- Population's Health Quality:

### Load Dataset with all information required for the Index Construction

In [18]:
import pandas as pd

In [19]:
import warnings
warnings.filterwarnings("ignore")

In [20]:
import chardet

def detect_encoding(file_path):
    with open(file_path, 'rb') as f:
        result = chardet.detect(f.read())
    return result['encoding']

# Usage
#encoded = detect_encoding(file_name)
#print(encoded)

In [34]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /Users/mariatormo02/opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /Users/mariatormo02/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/mariatormo02/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: numpy>=1.14.6 in /Users/mariatormo02/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: joblib>=0.11 in /Users/mariatormo02/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.3.2)
Note: you may need to restart the kernel to use updated packages.

In [21]:
#from google.colab import drive
#drive.mount('/content/drive')

In [396]:
# Dataset Files
educ_idx_info_file = "/Users/mariatormo02/Desktop/TFG-Code/2.2 Index Info/educ_index_data.csv"

encoded = detect_encoding(educ_idx_info_file)
print(encoded)

# Read CSV
educ_idx_info_df = pd.read_csv(educ_idx_info_file, encoding='utf-8')

utf-8

In [397]:
#print(educ_idx_info_df['Number of Services'].max())
#print(educ_idx_info_df['Number of Services'].idxmax())

In [398]:
educ_idx_info_df.head(5)
educ_idx_info_df.rename(columns={'Unnamed: 0': 'Neighborhood ID'}, inplace=True)
educ_idx_info_df['Students per Centre'] = educ_idx_info_df['Total Number of Students']/educ_idx_info_df['Number of Services']

### Min-Max Scaling Normalization for number of services

### ACCESSIBILITY

In [399]:
# Accessibility
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
access_col = 'Number of Services'

# Reshape the data since the scaler expects a 2D array
educ_idx_info_df[[access_col]] = scaler.fit_transform(educ_idx_info_df[[access_col]])

display(educ_idx_info_df)

,Neighborhood ID,Neighborhood Name,District Name Associated,Number of Services,Distances,Density over Places Ratio,Avg. Students per Teacher Ratio,School Status,Centers Type,Centers Simple Type,...,Abscence Rate in 4th Grade (%),Graduation Rate in 4th Grade (%),Territorial Socioeconomic Index (IST),Avg. Gini Index (%),Population Density (hab/ha),Net Population Density (hab/residential ha),Number of Places,Number of Students,Number of Teachers,Students per Centre
0,1,el Raval,Ciutat Vella,0.594595,NaN,1.005,25.858,"public, charter","Kindergarten & Primary School, University, Kin...","Kindergarten & Primary School, University, Gen...",...,0.7,87.3,78.2,34.495,429,952,427.0,9128.0,353.0,872.400000
1,2,el Barri Gòtic,Ciutat Vella,0.162162,NaN,1.686,21.320,"public, charter","FP, Kindergarten & Primary School, University,...","FP, Kindergarten & Primary School, University,...",...,0.7,87.3,75.6,39.133,268,639,159.0,1066.0,50.0,1675.000000
2,3,la Barceloneta,Ciutat Vella,0.297297,NaN,0.697,10.571,public,"Secondary School, University, Kindergarten & P...","High School, University, Kindergarten & Primar...",...,0.7,87.3,95.8,33.636,124,1081,178.0,1554.0,147.0,571.652174
3,4,"Sant Pere, Santa Caterina i la Ribera",Ciutat Vella,0.459459,NaN,0.711,22.947,"public, charter","Kindergarten & Primary School, Secondary Schoo...","Kindergarten & Primary School, High School, Mu...",...,0.7,87.3,100.8,37.031,199,683,280.0,4360.0,190.0,567.000000
4,5,el Fort Pienc,Eixample,0.243243,NaN,1.116,21.341,"private, public, charter","Secondary School, Kindergarten & Primary Schoo...","High School, Kindergarten & Primary School, Ge...",...,0.2,92.9,111.0,32.475,336,930,301.0,2817.0,132.0,1582.473684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,69,Diagonal Mar i el Front Marítim del Poblenou,Sant Martí,0.081081,NaN,1.090,NaN,"public, charter","Kindergarten, Primary & Secondary School, FP, ...","General School (with kindergarten), FP, Kinder...",...,0.8,89.3,116.6,31.814,109,556,100.0,2628.0,NaN,1582.142857
69,70,el Besòs i el Maresme,Sant Martí,0.162162,NaN,0.601,28.527,"public, charter","Kindergarten & Primary School, Secondary Schoo...","Kindergarten & Primary School, High School, Un...",...,0.8,89.3,72.4,29.715,212,913,353.0,5363.0,188.0,1772.923077
70,71,Provençals del Poblenou,Sant Martí,0.216216,NaN,1.237,21.911,"public, charter","Kindergarten & Primary School, University, Inf...","Kindergarten & Primary School, University, Inf...",...,0.8,89.3,107.0,29.242,193,1368,156.0,1972.0,90.0,1062.941176
71,72,Sant Martí de Provençals,Sant Martí,0.243243,NaN,0.579,25.518,"public, charter","Kindergarten & Primary School, Kindergarten, P...","Kindergarten & Primary School, General School ...",...,0.8,89.3,102.9,27.361,355,1111,613.0,4287.0,168.0,1199.473684
72,73,la Verneda i la Pau,Sant Martí,0.189189,NaN,1.454,12.449,"public, charter","FP, Kindergarten & Primary School, Secondary S...","FP, Kindergarten & Primary School, High School...",...,0.8,89.3,96.0,27.129,253,714,174.0,3162.0,254.0,1690.866667

In [400]:
construct_df = pd.DataFrame(educ_idx_info_df['Number of Services'])
construct_df.rename(columns={'Number of Services': 'Accessibility'}, inplace=True)
display(construct_df)

    Accessibility
0        0.594595
1        0.162162
2        0.297297
3        0.459459
4        0.243243
..            ...
68       0.081081
69       0.162162
70       0.216216
71       0.243243
72       0.189189

[73 rows x 1 columns]

### OFFER QUALITY

In [401]:
educ_idx_info_df.head(5)

,Neighborhood ID,Neighborhood Name,District Name Associated,Number of Services,Distances,Density over Places Ratio,Avg. Students per Teacher Ratio,School Status,Centers Type,Centers Simple Type,...,Abscence Rate in 4th Grade (%),Graduation Rate in 4th Grade (%),Territorial Socioeconomic Index (IST),Avg. Gini Index (%),Population Density (hab/ha),Net Population Density (hab/residential ha),Number of Places,Number of Students,Number of Teachers,Students per Centre
0,1,el Raval,Ciutat Vella,0.594595,NaN,1.005,25.858,"public, charter","Kindergarten & Primary School, University, Kin...","Kindergarten & Primary School, University, Gen...",...,0.7,87.3,78.2,34.495,429,952,427.0,9128.0,353.0,872.400000
1,2,el Barri Gòtic,Ciutat Vella,0.162162,NaN,1.686,21.320,"public, charter","FP, Kindergarten & Primary School, University,...","FP, Kindergarten & Primary School, University,...",...,0.7,87.3,75.6,39.133,268,639,159.0,1066.0,50.0,1675.000000
2,3,la Barceloneta,Ciutat Vella,0.297297,NaN,0.697,10.571,public,"Secondary School, University, Kindergarten & P...","High School, University, Kindergarten & Primar...",...,0.7,87.3,95.8,33.636,124,1081,178.0,1554.0,147.0,571.652174
3,4,"Sant Pere, Santa Caterina i la Ribera",Ciutat Vella,0.459459,NaN,0.711,22.947,"public, charter","Kindergarten & Primary School, Secondary Schoo...","Kindergarten & Primary School, High School, Mu...",...,0.7,87.3,100.8,37.031,199,683,280.0,4360.0,190.0,567.000000
4,5,el Fort Pienc,Eixample,0.243243,NaN,1.116,21.341,"private, public, charter","Secondary School, Kindergarten & Primary Schoo...","High School, Kindergarten & Primary School, Ge...",...,0.2,92.9,111.0,32.475,336,930,301.0,2817.0,132.0,1582.473684

In [402]:
# Count distinct values of centers type string (separated by comma)
def count_distinct_values(row): 
    values = row.split(',')
    distinct_values = set(values)
    return len(distinct_values)

def count_religious(row):
    values = row.split('and')
    distinct_values = set(values)
    return len(distinct_values)

# Apply to Centers Type column
construct_df['Count Centers Type'] = educ_idx_info_df['Centers Type'].apply(count_distinct_values)
construct_df['Count Centers Simple Type'] = educ_idx_info_df['Centers Simple Type'].apply(count_distinct_values)
construct_df['Count School Status'] = educ_idx_info_df['School Status'].apply(count_distinct_values)
construct_df['Count Centers Characteristics'] = educ_idx_info_df['Centers Characteristics'].apply(count_religious)

In [403]:
#display(construct_df)

In [404]:
# Apply Min-Max

# Offer Quality
offer_col_type = 'Count Centers Type'
offer_col_type_2 = 'Count Centers Simple Type'
status_col = 'Count School Status'
charact_col = 'Count Centers Characteristics'

# Reshape the data since the scaler expects a 2D array
construct_df[[offer_col_type]] = scaler.fit_transform(construct_df[[offer_col_type]])
construct_df[[offer_col_type_2]] = scaler.fit_transform(construct_df[[offer_col_type_2]])
construct_df[[status_col]] = scaler.fit_transform(construct_df[[status_col]])
construct_df[charact_col] = construct_df[charact_col]/construct_df[charact_col].max() 
display(construct_df)

,Accessibility,Count Centers Type,Count Centers Simple Type,Count School Status,Count Centers Characteristics
0,0.594595,1.000000,0.909091,0.5,1.0
1,0.162162,0.500000,0.545455,0.5,0.5
2,0.297297,0.500000,0.545455,0.0,0.5
3,0.459459,0.833333,0.818182,0.5,1.0
4,0.243243,0.583333,0.636364,1.0,0.5
...,...,...,...,...,...
68,0.081081,0.416667,0.363636,0.5,0.5
69,0.162162,0.583333,0.545455,0.5,1.0
70,0.216216,0.416667,0.454545,0.5,0.5
71,0.243243,0.583333,0.545455,0.5,1.0
72,0.189189,0.500000,0.545455,0.5,1.0

In [405]:
# Weight Offer Quality (highest values - most variate offer)
construct_df['Offer Quality'] = (construct_df['Count Centers Type'] + construct_df['Count School Status'] + construct_df['Count Centers Characteristics'])/3
construct_df.drop(columns={'Count Centers Type', 'Count Centers Simple Type', 'Count School Status', 'Count Centers Characteristics'}, inplace=True)
display(construct_df)

    Accessibility  Offer Quality
0        0.594595       0.833333
1        0.162162       0.500000
2        0.297297       0.333333
3        0.459459       0.777778
4        0.243243       0.694444
..            ...            ...
68       0.081081       0.472222
69       0.162162       0.694444
70       0.216216       0.472222
71       0.243243       0.694444
72       0.189189       0.666667

[73 rows x 2 columns]

### Population's Education Quality

In [406]:
educ_index_df = educ_idx_info_df.copy()

educ_index_df.drop(columns={'Number of Services', 'Distances', 'Density over Places Ratio', 'School Status', 'Centers Type', 'Total Number of Students',
                           'Centers Simple Type', 'Centers Characteristics', 'Number of Teachers', 'Number of Students', 
                            'Number of Places', 'Avg. Students per Teacher Ratio', 'Territorial Socioeconomic Index (IST)',
                           'Avg. Gini Index (%)', 'Population Density (hab/ha)', 'Net Population Density (hab/residential ha)'}, inplace=True)
display(educ_index_df)

,Neighborhood ID,Neighborhood Name,District Name Associated,Population with Low Studies (%),Primary School in people older than 15 (%),Secondary School in people older than 15 (%),Middle Studies in people older than 15 (%),Higher Studies in people older than 15 (%),No education or Incomplete Primary School in people older than 15 (%),Young Population without Post-Compulsory Education (%),Abscence Rate in 4th Grade (%),Graduation Rate in 4th Grade (%),Students per Centre
0,1,el Raval,Ciutat Vella,15.8,23.4,26.1,20.4,27.5,1.1,30.4,0.7,87.3,872.400000
1,2,el Barri Gòtic,Ciutat Vella,18.0,20.7,25.8,21.5,30.5,0.8,34.6,0.7,87.3,1675.000000
2,3,la Barceloneta,Ciutat Vella,14.2,17.8,24.2,23.0,32.2,1.9,17.2,0.7,87.3,571.652174
3,4,"Sant Pere, Santa Caterina i la Ribera",Ciutat Vella,9.9,13.4,17.8,22.6,44.1,1.0,13.6,0.7,87.3,567.000000
4,5,el Fort Pienc,Eixample,8.9,10.6,18.8,26.3,42.1,0.9,11.2,0.2,92.9,1582.473684
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,69,Diagonal Mar i el Front Marítim del Poblenou,Sant Martí,10.5,11.1,18.5,23.6,43.2,1.3,12.1,0.8,89.3,1582.142857
69,70,el Besòs i el Maresme,Sant Martí,21.4,27.8,32.7,21.1,14.1,2.6,41.6,0.8,89.3,1772.923077
70,71,Provençals del Poblenou,Sant Martí,12.7,16.4,25.8,25.3,29.0,1.7,18.4,0.8,89.3,1062.941176
71,72,Sant Martí de Provençals,Sant Martí,16.6,19.7,27.9,26.1,22.5,2.1,18.8,0.8,89.3,1199.473684
72,73,la Verneda i la Pau,Sant Martí,18.9,23.6,30.8,24.4,16.5,2.9,25.1,0.8,89.3,1690.866667

In [407]:
# Education Percentage
# 0: no education: analfabet o estudis primaris incomplets
# 1: primary, 2: middle - primera etapa educació secundària
# 3: secondary - segona etapa educació secundària 
# 4:higher - FP, graus universitaris, masters, doctorat

construct_df['Level of Studies'] = ((educ_index_df['No education or Incomplete Primary School in people older than 15 (%)']*0)/100 + (educ_index_df['Primary School in people older than 15 (%)']*1)/100 + (educ_index_df['Middle Studies in people older than 15 (%)']*2)/100 + (educ_index_df['Secondary School in people older than 15 (%)']*3)/100 + (educ_index_df['Higher Studies in people older than 15 (%)']*4)/100)
construct_df['Students per Centre'] = educ_index_df['Students per Centre'].round().astype(int)
construct_df['Graduation Rate in 4th Grade'] = educ_index_df['Graduation Rate in 4th Grade (%)']/100
display(construct_df)

,Accessibility,Offer Quality,Level of Studies,Students per Centre,Graduation Rate in 4th Grade
0,0.594595,0.833333,2.525,872,0.873
1,0.162162,0.500000,2.631,1675,0.873
2,0.297297,0.333333,2.652,572,0.873
3,0.459459,0.777778,2.884,567,0.873
4,0.243243,0.694444,2.880,1582,0.929
...,...,...,...,...,...
68,0.081081,0.472222,2.866,1582,0.893
69,0.162162,0.694444,2.245,1773,0.893
70,0.216216,0.472222,2.604,1063,0.893
71,0.243243,0.694444,2.456,1199,0.893
72,0.189189,0.666667,2.308,1691,0.893

In [408]:
# Apply minmax to level of studies
pop_col_studies = 'Level of Studies'
pop_col_students = 'Students per Centre'

# Reshape the data since the scaler expects a 2D array
construct_df[[pop_col_studies]] = scaler.fit_transform(construct_df[[pop_col_studies]])
construct_df[[pop_col_students]] = scaler.fit_transform(construct_df[[pop_col_students]])

display(construct_df)

,Accessibility,Offer Quality,Level of Studies,Students per Centre,Graduation Rate in 4th Grade
0,0.594595,0.833333,0.421305,0.067683,0.873
1,0.162162,0.500000,0.523033,0.145659,0.873
2,0.297297,0.333333,0.543186,0.038551,0.873
3,0.459459,0.777778,0.765835,0.038066,0.873
4,0.243243,0.694444,0.761996,0.136628,0.929
...,...,...,...,...,...
68,0.081081,0.472222,0.748560,0.136628,0.893
69,0.162162,0.694444,0.152591,0.155176,0.893
70,0.216216,0.472222,0.497121,0.086230,0.893
71,0.243243,0.694444,0.355086,0.099437,0.893
72,0.189189,0.666667,0.213052,0.147213,0.893

In [409]:
construct_df['Population Education'] = (construct_df['Level of Studies'] + construct_df['Students per Centre'] + construct_df['Graduation Rate in 4th Grade'])/3
construct_df.drop(columns={'Level of Studies', 'Students per Centre', 'Graduation Rate in 4th Grade'}, inplace=True)
display(construct_df)

    Accessibility  Offer Quality  Population Education
0        0.594595       0.833333              0.453996
1        0.162162       0.500000              0.513897
2        0.297297       0.333333              0.484912
3        0.459459       0.777778              0.558967
4        0.243243       0.694444              0.609208
..            ...            ...                   ...
68       0.081081       0.472222              0.592730
69       0.162162       0.694444              0.400256
70       0.216216       0.472222              0.492117
71       0.243243       0.694444              0.449174
72       0.189189       0.666667              0.417755

[73 rows x 3 columns]

In [410]:
construct_df['Index'] = (construct_df['Accessibility'] + construct_df['Offer Quality'] + construct_df['Population Education'])/3
construct_df['Neighborhood Name'] = educ_index_df['Neighborhood Name']
construct_df.index = construct_df.index + 1
display(construct_df)

,Accessibility,Offer Quality,Population Education,Index,Neighborhood Name
1,0.594595,0.833333,0.453996,0.627308,el Raval
2,0.162162,0.500000,0.513897,0.392020,el Barri Gòtic
3,0.297297,0.333333,0.484912,0.371848,la Barceloneta
4,0.459459,0.777778,0.558967,0.598735,"Sant Pere, Santa Caterina i la Ribera"
5,0.243243,0.694444,0.609208,0.515632,el Fort Pienc
...,...,...,...,...,...
69,0.081081,0.472222,0.592730,0.382011,Diagonal Mar i el Front Marítim del Poblenou
70,0.162162,0.694444,0.400256,0.418954,el Besòs i el Maresme
71,0.216216,0.472222,0.492117,0.393519,Provençals del Poblenou
72,0.243243,0.694444,0.449174,0.462287,Sant Martí de Provençals
73,0.189189,0.666667,0.417755,0.424537,la Verneda i la Pau

In [411]:
#print(construct_df.max())
#print(construct_df.idxmax())

In [413]:
# Correct Format for Tableau
construct_df['Accessibility'] = construct_df['Accessibility'] * 1000
construct_df['Offer Quality'] = construct_df['Offer Quality'] * 1000
construct_df['Population Education'] = construct_df['Population Education'] * 1000
construct_df['Index'] = construct_df['Index'] * 1000

construct_df['Accessibility'] = construct_df['Accessibility'].round().astype(int)
construct_df['Offer Quality'] = construct_df['Offer Quality'].round().astype(int)
construct_df['Population Education'] = construct_df['Population Education'].round().astype(int)
construct_df['Index'] = construct_df['Index'].round().astype(int)

display(construct_df)

,Accessibility,Offer Quality,Population Education,Index,Neighborhood Name
1,595,833,454,627,el Raval
2,162,500,514,392,el Barri Gòtic
3,297,333,485,372,la Barceloneta
4,459,778,559,599,"Sant Pere, Santa Caterina i la Ribera"
5,243,694,609,516,el Fort Pienc
...,...,...,...,...,...
69,81,472,593,382,Diagonal Mar i el Front Marítim del Poblenou
70,162,694,400,419,el Besòs i el Maresme
71,216,472,492,394,Provençals del Poblenou
72,243,694,449,462,Sant Martí de Provençals
73,189,667,418,425,la Verneda i la Pau

In [414]:
construct_df.to_csv('index.csv')

### Context

In [415]:
# Dataset Files
educ_idx_info_geo_file = "/Users/mariatormo02/Desktop/TFG-Code/2.2 Index Info/educ_index_data_geo.csv"

encoded = detect_encoding(educ_idx_info_geo_file)
print(encoded)

# Read CSV
educ_idx_info_geo_df = pd.read_csv(educ_idx_info_geo_file, encoding='utf-8')

utf-8

In [416]:
#display(educ_idx_info_geo_df)
educ_idx_info_geo_df.rename(columns={'Unnamed: 0': 'Neighborhood ID'}, inplace=True)

In [417]:
contextual_df = educ_idx_info_geo_df.copy()
contextual_df = contextual_df[['Neighborhood ID', 'Neighborhood Name', 'District Name Associated', 'Territorial Socioeconomic Index (IST)',
                              'Avg. Gini Index (%)', 'Population Density (hab/ha)', 'Net Population Density (hab/residential ha)', 'Geo WGS84']]

contextual_df['Territorial Socioeconomic Index (IST)'] = contextual_df['Territorial Socioeconomic Index (IST)'].round().astype(int)
contextual_df['Avg. Gini Index (%)'] = contextual_df['Avg. Gini Index (%)'].round().astype(int)
display(contextual_df)

,Neighborhood ID,Neighborhood Name,District Name Associated,Territorial Socioeconomic Index (IST),Avg. Gini Index (%),Population Density (hab/ha),Net Population Density (hab/residential ha),Geo WGS84
0,1,el Raval,Ciutat Vella,78,34,429,952,"POLYGON ((2.16473952857229 41.3859611263672, 2..."
1,2,el Barri Gòtic,Ciutat Vella,76,39,268,639,"POLYGON ((2.17703981017875 41.3852793578426, 2..."
2,3,la Barceloneta,Ciutat Vella,96,34,124,1081,"POLYGON ((2.1962542114702 41.3874852975771, 2...."
3,4,"Sant Pere, Santa Caterina i la Ribera",Ciutat Vella,101,37,199,683,"POLYGON ((2.18347683856251 41.390642940051, 2...."
4,5,el Fort Pienc,Eixample,111,32,336,930,"POLYGON ((2.18355273505655 41.3922993404645, 2..."
...,...,...,...,...,...,...,...,...
68,69,Diagonal Mar i el Front Marítim del Poblenou,Sant Martí,117,32,109,556,"POLYGON ((2.21305050684114 41.4109655883131, 2..."
69,70,el Besòs i el Maresme,Sant Martí,72,30,212,913,"POLYGON ((2.21130382869618 41.4217017644346, 2..."
70,71,Provençals del Poblenou,Sant Martí,107,29,193,1368,"POLYGON ((2.19554880988141 41.4056305449051, 2..."
71,72,Sant Martí de Provençals,Sant Martí,103,27,355,1111,"POLYGON ((2.19717547409715 41.4111208750969, 2..."
72,73,la Verneda i la Pau,Sant Martí,96,27,253,714,"POLYGON ((2.20738904098433 41.4271419991399, 2..."

In [418]:
contextual_df.to_csv('context_index_info.csv')